<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<link rel="stylesheet" href="css/estilos.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<title>Equipos</title>
	</head>
	<body>
		<div id="contenedor">
			<header>
				<h1>Liga de futbol profesional</h1>
			</header>
			<nav>
				<ul>
					<li><a href="index.html" target="blank">Home</a></li>
					<li><a href="fixture.html" target="blank">Fixture y resultados</a></li>
					<li><a href="#">Equipos</a></li>
				</ul>
			</nav>
			<section id="contenido">
				<h2>Equipos</h2>
				<div class="contenedor-grid">
					<div><img alt="" src="img/EquipoBoca.png"></div>
					<div>
						<p>El Club Atlético Boca Juniors fue fundado el 3 de abril de 1905 por cinco inmigrantes italianos que 
						vivían en el barrio de La Boca.
						Boca Juniors jugó en la liga local y en la segunda división de fútbol amateur, hasta que ascendieron 
						a la primera división en 1913. Ganó seis campeonatos amateurs en 1919, 1923, 1924, 1926 y 1930. Tras 
						la profesionalización del fútbol en Argentina, Boca ganó el primer título en 1931.
						
						Su histórico rival es el Club Atlético River Plate, con quien juega el famoso Superclásico, un evento 
						que, según el periódico inglés The Observer, cuando se juega en la Bombonera, se encuentra entre los 
						50 espectáculos deportivos que hay que ver antes de morir.
						
						Boca Juniors ganó 18 títulos internacionales, entre los que se incluyen 6 Copas Libertadores, 4 Recopas 
						Sudamericanas, 3 Copas Intercontinentales, 2 Copas Sudamericanas, 1 Copa Oro, 1 Supercopa Sudamericana 
						y 1 Supercopa Masters, además de los 23 títulos locales.
						La hinchada y el club tienen varios apodos: Los Xeneixes, La 12, La mitad más uno
						El Club Atlético Boca Juniors ocupa siempre un puesto en el Ranking Mundial de Clubes de IFFHS y llegó 
						a ocupar 6 veces el puesto número uno.</p>
					</div>
					<div><img alt="" src="img/EquipoIndependiente.png"></div>
					<div>
						<p>El Club Atlético Independiente, es una entidad deportiva de Argentina de la ciudad bonaerense de 
						Avellaneda, situado en el sur del Gran Buenos Aires (GBA). Fue fundado el 1 de enero de 1905 por unos 
						jóvenes empleados independistas del Club Maipú. 

						Ejerce su localía en el estadio llamado Libertadores de América que cuenta con un aforo de 52 364 espectadores. 
						Los colores que identifican al equipo son el rojo, y han sido utilizados en los colores de su uniforme desde 1908.​
						
						En el ámbito local, el Rojo es poseedor de 16 ligas y 9 copas, sumando un total de 25 títulos nacionales. 
						Además, en el ámbito internacional, el equipo ha conseguido el récord de siete títulos en la Copa Libertadores, 
						siendo el único club en ganar cuatro finales consecutivas, entre 1972 y 1975. Inclusive, también, es el máximo 
						ganador en la Copa Interamericana (3), la Supercopa Sudamericana (2) y la Copa Sudamericana (2), siendo en estas 
						dos últimas junto a Cruzeiro y Boca Juniors respectivamente. De acuerdo a un estudio estadístico conducido por 
						la IFFHS en 2009, fue el segundo equipo sudamericano más exitoso del siglo XX.​
						
						Sus mayores logros deportivos los obtuvo en los años 1973 y 1984 cuando se consagró campeón de la Copa Intercontinental 
						al derrotar a los representantes de la Copa de Campeones de Europa: Juventus de Italia y Liverpool de Inglaterra 
						respectivamente. Gracias a estas conquistas integra el grupo selecto de los únicos 29 equipos en el mundo que han 
						ganado el máximo campeonato de clubes de fútbol a nivel mundial, entre más de 300 000 clubes reconocidos por FIFA.​</p>
					</div>
					<div><img alt="" src="img/EquipoRacing.png"></div>
					<div>
						<p>Racing Club se fundó oficialmente el 25 de marzo de 1903 (117 años) e inició su actividad futbolística en 1905, 
						al afiliarse a la Asociación del Fútbol Argentino.

						En la era amateur consiguió 9 campeonatos locales, 7 de ellos en forma consecutiva, siendo el primer equipo en el 
						mundo en lograrlo y el único equipo argentino hasta nuestros días. Además, de esos nueve torneos obtuvo cinco de forma 
						invicta. A raíz de estos logros, recibió el apodo de la La Academia de Football Nacional, que lo identifica hasta la actualidad.​
						
						En la era profesional iniciada en 1931, obtuvo otros 9 campeonatos locales, llegando a un total de 18.​ En esta era también 
						conquistó los récords de ser el primer equipo argentino en conseguir un tricampeonato local en tres temporadas completas, el 
						primer campeón argentino del mundo y el primer campeón de Campeones de América.​
						Es uno de los 4 equipos argentinos con mayor cantidad de títulos conseguidos en la historia (37), es uno de los dos equipos 
						con mayor cantidad de copas nacionales de Argentina (13), es el 3° equipo con mayor cantidad de campeonatos en el fútbol argentino 
						(18) y es el 4° equipo argentino con mayor cantidad de copas internacionales de la historia (7).​​
						Su estadio, llamado Presidente Perón, es el segundo con más aforo del país, con una capacidad de más de 60.000 espectadores.​
						Los colores que lo identifican son el celeste y el blanco en honor a los colores patrios de la República Argentina.​
						El último título oficial de Racing fue en diciembre de 2019, al lograr el Trofeo de Campeones de la Superliga 2019​</p>
					</div>
					<div><img alt="" src="img/EquipoRiver.png"></div>
					<div>
						<p>El Club Atlético River Plate también conocido como River Plate o simplemente River es un club argentino 
						fundado en 1901, famoso por su equipo de fútbol. Actualmente, el club está ubicado en el barrio de Núñez, 
						Buenos Aires; sin embargo, su primera sede estaba situada en La Boca.

						Tras la fundación del club el 25 de mayo de 1901, se presentó el primer equipo, formado por: Moltedo, Ratto, 
						Cevallos, Peralta, Carrega, Bard (el presidente), Kitzler, Martínez, Flores, Zanni y Messina.
						Su histórico rival es el Club Atlético Boca Juniors, con quien juega el famoso Superclásico. Además, también 
						se consideran clásicos los partidos que se disputa con los otros tres grandes del fútbol argentino (Independiente, 
						San Lorenzo y Racing).
						
						River siempre fue uno de los clubes más importantes de Sudamérica. Ganó 38 campeonatos oficiales, entre los que 
						se incluyen: 33 títulos locales, 2 Copas Libertadores (1986 y 1996), 1 Supercopa (1997) y 1 Copa Intercontinental. 
						En 1986, los hinchas de River Plate conocidos como Gallinas desde la década de los 60 y como Los Millonarios desde 
						la década de los 30 tuvieron la oportunidad de ver a River ganar un título local, la Copa Libertadores, la Copa 
						Interamericana y la Copa Intercontinental.</p>
					</div>
					<div><img alt="" src="img/EquipoSanLorenzo.png"></div>
					<div>
						<p>El "Club Atlético San Lorenzo de Almagro", conocido popularmente como "El Ciclón" o “El Cuervo” , es un club 
						social y deportivo de Argentina, fundado el 1 de abril de 1908.
						
						Su estadio, el Pedro Bidegain, más conocido como El Nuevo Gasómetro y la Ciudad Deportiva se encuentran ubicados en la 
						Comuna 7 de la ciudad de Buenos Aires, en el barrio de Bajo Flores, tiene capacidad para 47 964 espectadores y está dentro 
						de los diez estadios más grandes de Argentina. Su anterior estadio, denominado El Gasómetro (expropiado por un gobierno de 
						facto) se encontraba en el actual barrio de Boedo y llegó a un aforo de 76 000 personas. Conocido como el "Wembley de Boedo",
						fue el estadio utilizado por la Selección Argentina.
						
						San Lorenzo de Almagro obtuvo 24 títulos. En el plano local ganó 15 campeonatos de Primera División, 2 copas nacionales​ 
						y 2 títulos de la segunda división (1 en el amateurismo y 1 en el profesionalismo). En el medio internacional, ha alzado 5 
						títulos, 3 de ellos a nivel confederativo e interconfederativo (Conmebol y FIFA), y los otros dos en el ámbito rioplatense 
						(AFA-AUF). Es el cuarto equipo más ganador del profesionalismo (17 títulos)​ y también es el tercer mejor equipo de la 
						historia de la Primera División de Argentina, según la clasificación histórica.
						A lo largo de su historia fue campeón de la Supercopa Argentina, fue el primer campeón de la Copa Sudamericana (en 2002) el 
						único equipo argentino que ganó la Copa Mercosur además de ganar la Copa Libertadores 2014 y ser subcampeón del Mundial de 
						Clubes ese mismo año, lo que lo hace ser uno de los 4 clubes argentinos que disputaron una final mundial FIFA.</p>
					</div>
				</div>
			</section>
			<aside>
				<h2>Auspiciantes</h2>
				<a href="#"><img alt="" src="img/auspiciante1.jpg"></a>
				<a href="#"><img alt="" src="img/auspiciante2.jpg"></a>
				<a href="#"><img alt="" src="img/auspiciante3.png"></a>
				<a href="#"><img alt="" src="img/auspiciante4.jpg"></a>
			</aside>
			<footer>
				<h2>Avda. Pedro Ortiz de Zarate N° 455 - Tel 388 4789555</h2>
				<div id="redes">
					<i class="fa fa-facebook-square" style="font-size:36px"></i>
					<i class="fa fa-instagram" style="font-size:36px"></i>
					<i class="fa fa-twitter-square" style="font-size:36px"></i>
					<i class="fa fa-youtube-square" style="font-size:36px"></i>
				</div>
			</footer>
		</div>
	</body>
</html>